*{
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    background-color: bisque;
}
.header h1{
    text-align: center;
}
.header  .nav{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: 30px;
    justify-content: center;
}
.nav a{
    text-align: center;
    text-decoration: none;
    color: black;
    line-height: 2;
    transition: background-color 0.5s, box-shadow 0.5s;
    
}
.nav a:hover{
    background-color: lightseagreen;
    box-shadow: 0 0 20px royalblue;
}
.main{
    height: 90vh;
}
.cont{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 550px);
    column-gap: 10px;
    align-content: center;
    justify-content: center;
   
}
.cont img{
    border: 6px dashed goldenrod;
    width: 500px;
}
@media only screen and (max-width:600px){
   .cont{
    grid-template-columns: repeat(auto-fit,270px);
   }
    .cont img{
        width: 65vw;
    }
   
} 
.nxt{
    width: 100px;
    float:right;
}
.nxt a{
    text-decoration: none;
    color: saddlebrown;
    
}
.nxt span{
    font-weight: 900;
}

.nxt img{
    width: 30px;
    vertical-align: middle;
}
.prv{
    width: 130px;
    float:left;
}
.prv a{
    text-decoration: none;
    color: saddlebrown;
    
}
.prv span{
    font-weight: 900;
}

.prv img{
    width: 30px;
    vertical-align: middle;
    transform: scaleX(-1);
}
.footer{
    text-align: center;
    background: black;
    display: block;
    color: antiquewhite;
    margin: -9px;
    padding: 40px;
}
