@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    font-family: "IBM Plex Mono", monospace;
}

.hidden{
    height: 0vh !important;
}
.hidder{
    display: none !important;
}
.active{
    background-color: rgb(6, 131, 6);
    padding: 3px;
    border-radius: 10px;
}
html{
    scroll-behavior: smooth;
}

body{
    background-color: rgb(44, 35, 22);
    color: rgb(230, 208, 179);
}

header{
    display: flex;
    padding: 18px;
    justify-content: space-evenly;
    align-items: center;
    z-index: 4;
    
}

header > nav {
    width: 25%;
}

header > nav > ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    
}

header > nav > ul > li > a{
    color: aliceblue;
    text-decoration: none;
    font-weight: bolder;
    font-size: 2ch;
}

.title{
    margin-top: 20px;
    text-align: center;
}
.imgCont{
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
    gap: 15px;
    width: 90%;
    margin: auto;
    margin-top: 40px;
    z-index: 1;
    
}

.imgCont >  .imageBox{
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 5px solid;
    padding: 8px;
    border-radius: 10px;  
    align-items: center;
    width: 20vw;
    height: 41vh;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.imgCont>.imageBox:hover{
    transform: scale(1.05);
}

.imgCont > .imageBox > .imgA{
    width: 17vw;
    height: 30vh;
}

.imgCont>.imageBox > .cap{
    text-align: center;
}
.imageShow{
    display: flex;
    flex-direction: column;
    width: 99vw;
    height: 90vh;
    background-color: rgb(26, 20, 13);
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}

.imageShow > figure{
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    padding: 10px;
    margin: auto;
    width: 90%;
}
.imageShow>figure>a{
    text-decoration: none;
    color: rgb(230, 208, 179);;
}

.imageShow > figure > a >img{
    max-width: 85%;
    max-height: 500px;
    border: 2px double;
    border-radius: 10px;
    
}

.imageShow > .control{
    display: flex;
    width: 90vw;
    margin: auto;
    justify-content: space-between;
    user-select: none;
}

.imageShow > .control > h3{
    cursor: pointer;
}

.imageShow > .btnClose{
    flex: 0 0 auto;
    align-self: flex-end;
    margin-right: 2vw;
    margin-top: 2vw;
    position: absolute;
    background-color: rgb(117, 72, 17);
    border-radius: 10px;
    font-size: 2ch;
    cursor: pointer;
    color: rgb(230, 208, 179);
    border: 2px solid;
    font-weight: bolder;
}


/*TODO: MOBILE FIX*/