@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    font-family: "IBM Plex Mono", monospace;
}

.hidden{
    height: 0vh !important;
}
.hidder{
    display: none !important;
}
.active{
    background-color: rgb(6, 131, 6);
    padding: 3px;
    border-radius: 10px;
}
html{
    scroll-behavior: smooth;
}

body{
    background-color: rgb(44, 35, 22);
    color: rgb(230, 208, 179);
}

header{
    display: flex;
    padding: 18px;
    justify-content: space-evenly;
    align-items: center;
    z-index: 4;
    
}

header > nav {
    width: 25%;
}

header > nav > ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    
}

header > nav > ul > li > a{
    color: aliceblue;
    text-decoration: none;
    font-weight: bolder;
    font-size: 2ch;
}

.title{
    margin-top: 20px;
    text-align: center;
}
.imgCont{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 85%;
    margin: auto;
    margin-top: 40px;
    z-index: 1;
    
}

.imgCont >  .imageBox{
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 5px solid;
    padding: 8px;
    border-radius: 10px;  
    align-items: center;
    width: 20vw;
    height: 41vh;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.imgCont>.imageBox:hover{
    transform: scale(1.05);
}

.imgCont > .imageBox > .imgA{
    width: 17vw;
    height: 30vh;
}

.imgCont>.imageBox > .cap{
    text-align: center;
}
.imageShow{
    display: flex;
    flex-direction: column;
    width: 99vw;
    height: 90vh;
    background-color: rgb(26, 20, 13);
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}

.imageShow > figure{
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    justify-items: center;
    gap: 10px;
    padding: 10px;
    margin: auto;
    width: 90%;
}
.imageShow>figure>a{
    text-decoration: none;
    color: rgb(230, 208, 179);;
}

.imageShow > figure > a >img{
    max-width: 85%;
    max-height: 500px;
    border: 2px double;
    border-radius: 10px;
    
}

.imageShow > .control{
    display: flex;
    width: 90vw;
    margin: auto;
    justify-content: space-between;
    user-select: none;
    transition: all 0.3s ease-in-out;
}

.imageShow > .control > h3{
    cursor: pointer;
}

.imageShow > .btnClose{
    flex: 0 0 auto;
    align-self: flex-end;
    margin-right: 2vw;
    margin-top: 2vw;
    position: absolute;
    background-color: rgb(117, 72, 17);
    border-radius: 10px;
    font-size: 2ch;
    cursor: pointer;
    color: rgb(230, 208, 179);
    border: 2px solid;
    font-weight: bolder;
}


.buttonUp{
    font-size: 4.4ch;
    position: fixed;
    z-index: 1000;
    bottom: 20px;
    right: 20px;
    padding: 0px;
    border: 5px solid rgb(230, 208, 179);
    background-color: rgb(230, 208, 179);
    text-justify: auto;
    text-align: justify;
    border-radius: 35%;
    cursor: pointer;
    
}
.buttonUp > a{
    text-decoration: none;

}


@media only screen and (max-width: 1024px){
    header{
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    header > nav{
        margin-top: 30px;
        width: 100%;
        font-size: 2ch;
    }
    .imgCont{
        width: 98%;
        
    }
    .imgCont>.imageBox{
        width: 30vw;
    }
    .imgCont>.imageBox>.imgA{
        width: 26vw;
    }
    .imageShow>figure>a>img{
        max-width: 100%;
        max-height: 70vh;
        
    }
}

@media only screen and (max-width: 600px){
    .imgCont>.imageBox{
        width: 50vw;
        height: 40vh;
    }
    .imgCont>.imageBox>.imgA{
        width: 44vw;
    }

    .imgCont>.imageBox > .cap{
        font-size: 1.5ch;
    }
}

@media only screen and (max-width: 500px){
    .imgCont>.imageBox{
        width: 60vw;
    }
    .imgCont>.imageBox>.imgA{
        width: 54vw;
        height: 25vh;
    }

    .imgCont>.imageBox > .cap{
        font-size: 1.4ch;
    }

    .imageShow{
        height: 100vh;
    }
    .imageShow>figure{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .imageShow>figure>a>img{
        max-height: 50vh;
    }
}